@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.link {
  text-decoration: none;
}

.blog-image {
  width: 300px;
  height: 200px;
}

.banner-image {
  width: 800px;
  height: 400px;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: black;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #f1356d;
  color: #fff;
  text-align: center;
  position: sticky;
  bottom: 0;
}

/* blog previews / list */
.blog-list {
  padding: 10px 16px;
  margin: 20px;
  border-bottom: 1px solid #fafafa;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.blog-preview {
  width: 50%;
  margin-bottom: 30px;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}
.blog-list h2 {
  font-size: 32px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
}

.blog-preview a {
  text-decoration: none;
}

/* blog details page */
.blog-details {
  margin: 20px;
}

.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create-blog {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}
.create-blog label {
  text-align: left;
  display: block;
}
.create-blog h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create-blog input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create-blog button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.quill {
  margin-bottom: 1rem;
}

.quill .ql-editor {
  font-size: 16px;
  height: 10.1rem;
}
